h1{
    margin: bottom 10px;;
    font-family: serif;    
    font-size: 24px;
    font-weight: bolder;
    color:rgb(51, 73, 136);
    text-align:left;         
};

h2{
    margin: bottom 10px;;
    font-family: serif;    
    font-size: 18px;
    font-weight: bolder;
    color:rgb(51, 73, 136);
    text-align:left;         
};
     

p{
    margin: bottom 10px;;
    font-family: Helvetica, sans-serif;
    font-size:24px;
    color: rgb(97, 97, 97);
    text-align:left;
};

.box-1{
    font-family: Helvetica, sans-serif;
    font: size 32px;;
    color: whitesmoke;
    text-align:center;
    border-radius: 15%;
    padding: 10px;
};

.sanserif{
    font-family: Helvetica, sans-serif;
};

.title{
    font-family: Helvetica, sans-serif;
};

.homebutton{
    background: rgb(73, 109, 228);
    font-family: Helvetica, sans-serif;
    font: size 32px;;
    color: whitesmoke;
    text-align:center;
    border-radius: 15%;
    padding: 10px;
};

.header{
    height: 100px;
    padding-top: 15px;
    padding-bottom: 10px;
    background: #f8f9fa;
};

.navbar li a {
    color: whitesmoke;
    text-decoration: none;
};

.margin {
    margin: 20px;
    padding: 20px;
};

  .navbar-link {
    color: rgb(73, 109, 228);
    font-size: 32px;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
    text-decoration: none;
};